PORT=8080

MONGO_USERNAME=your-mongodb-username
MONGO_PASSWORD=your-mongodb-password
MONGO_URI=mongodb://your-mongodb-username:your-mongodb-password@localhost:27017/?authSource=admin
MONGO_DATABASE=user_management

JWT_SECRET=your-jwt-secret
JWT_EXPIRATION=24h